<ion-menu side="end" menuId="chat" contentId="main-content" swipeGesture="false" (ionDidOpen)="openChat()">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                Chat
                <span class="table-name"> - {{(currentTable$ | async)?.name}}</span>
            </ion-title>
            <ion-buttons slot="secondary">
                <ion-button (click)="closeChat()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content #chatContent class="ion-padding-top">
        <div *ngIf="messages.length === 0" id="no-messages">
            There are no messages
        </div>
        <div *ngFor="let message of messages" class="message-container" [class.own]="message.own">
            <div class="message">
                <ion-text class="author" [color]="message.own ? 'primary' : 'medium'">{{message.author}}</ion-text>
                <div class="text" [innerHTML]="message.text | linkify"></div>
            </div>
        </div>
    </ion-content>
    <ion-footer id="send">
        <ion-input id="chat-input" placeholder="Enter a Message" maxlength="500" [(ngModel)]="message"
                   (keydown.enter)="sendMessage()"></ion-input>
        <ion-button fill="clear" [disabled]="message.length === 0" (click)="sendMessage()">
            <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
    </ion-footer>
</ion-menu>
