<ion-content class="ion-padding">
  <ion-button class="ion-float-right" fill="clear" color="dark" size="large" (click)="closeModal()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <h2>Game Rules</h2>
  <p>The game is played with 32 cards of 4 suits (Greens, Hearts, Dicks and Balls). A card can have 8 different values: 7 through 10, Jack, Queen, King or Ace. Up to seven players can join the game, the minimum is two.</p>
  <p>At the beginning of the game, each player gets four cards. The rest of the cards are then put into a deck; the first card is revealed and forms a deck of played cards.</p>
  <p>A player to the right of the player who shuffled the deck begins the game. Each turn, a player must play a card that has either the same value or suit as the card on top of the deck of played cards.</p>
  <p>If a player can't play this way, he can still play any Queen. A Queen can be placed on any other card and the player picks a new suit. The suit of the Queen itself has no effect in this case.</p>
  <p>If a player has no other option to play, he can draw a card by clicking on the deck. The last player with cards in his hand loses the game.</p>
  <h3>Special Cards</h3>
  <p>Anytime a 7 is played, the next player has to draw two cards without playing any other of his cards. This doesn't apply if he has another card with the value of 7; in this case he can play it and the next player draws four. If all 7s have been played this way, the last player draws eight cards total.</p>
  <p>If an Ace is played, the next player on turn has to skip a turn. When skipping, the player can't neither play any card or draw. But if he has an Ace as well, he can play it and then the next player skips a turn.</p>
  <h3>The 7 of Hearts Rule</h3>
  <p>A very special rule applies if a 7 of Hearts if played. With this card a player that has previously won can be brought back to the game. When a player wins, for the whole next round, this rule applies. Otherwise, he is immune and can't be brought back ever again.</p>
</ion-content>
