.cards-container {
    margin-top: 2em;
    margin-bottom: 1em;
}

.card {
    max-height: 10rem;
}

.card:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1em white)
}

.suit-buttons-container {
    display: inline-grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    min-height: 0;
    min-width: 0;
}

.suit-icon-button {
    overflow: hidden;
    min-width: 0;
}

.suit-icon {
    max-height: 5rem;
    max-width: 100%;
}
