.decks {
    padding: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.deck-top-card:hover {
    cursor: pointer;
    box-shadow: 0 0 0.3em black;
}

.deck-overlay-container,
.color-overlay-container {
    position: relative;
}

.card-count {
    position: absolute;
    bottom: 32px;
    right: 32px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.4em white;
    min-width: 1em;
    pointer-events: none;
}

.color-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-suit-icon {
    max-height: 3em;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    box-shadow: 0 0 0.8em black;
    border-radius: 40%;
}
