#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.table-name {
  text-transform: capitalize;
}

.message-container {
  display: flex;
}

.message-container:last-child {
  // TODO temp workaround https://github.com/ionic-team/ionic/issues/20614
  padding-bottom: 60px;
}

.message {
  align-items: flex-start;
  display: flex;
  padding: 0 8px 16px;
  flex-direction: column;
  width: 100%;
}

.text {
  background: #f1f0f0;
  border-radius: 16px;
  color: #444950;
  max-width: 80%;
  padding: 8px 12px;
  width: fit-content;
}

.own {
  flex-direction: row-reverse;

  .message {
    align-items: flex-end;
  }

  .text {
    background: #3578e5;
    color: white;
  }
}

::ng-deep .own .text a {
  color: #e5a235;
}

.author {
  font-size: 14px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#no-messages {
  font-size: 18px;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

#send {
  display: flex;
  justify-content: space-between;
}

ion-input {
  --color: var(--ion-color-light-contrast);
}
