#players {
  display: flex;
  flex-flow: row nowrap;
  min-height: 112px;
  overflow-x: scroll;
}

#players::before, #players::after {
  content: '';
  margin: auto;
}

.no-players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.player-name {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  opacity: 0.7;
}

.player-text {
  padding: 0 8px;
  white-space: nowrap;
}

.waiting {
  opacity: 0.7;
  font-style: italic;
}

.card-shell {
  height: 24px;
}

.card-shell:not(:last-child) {
  padding: 0 1px 0 0;
}

#playerOnTurn {
  font-weight: bold;
  opacity: 1;
}

.cards {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
