<div class="cards-container ion-padding-vertical ion-margin-vertical">
  <ion-grid *ngIf="showCards">
    <ion-row @cardAnimations class="ion-justify-content-center">
      <ion-col @enterLeaveAnimation *ngFor="let card of cardsWithBackgrounds; trackBy: trackByCard" class="card-container"
               size="auto">
        <div class="card" [style.background-image]="card.background" (click)="playCard(card)"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button
    *ngIf="!participating"
    class="join-button"
    color="medium"
    [disabled]="playersCount && playersCount >= 7"
    (click)="joinGame()"
  >
    <ion-icon slot="start" name="person-add"></ion-icon>
    {{'Game.join_game' | translate}}
  </ion-button>
</div>
