<ion-content class="ion-padding">
  <ion-button class="ion-float-right" fill="clear" color="dark" size="large" (click)="closeModal()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <h2>Prší</h2>
  <p>{{'About.description' | translate}}</p>
  <h3>{{'About.contribution' | translate}}</h3>
  <p>{{'About.licence' | translate}}<a
    href="https://github.com/josef-kriz/DicksAndBalls">{{'About.github_link_title' | translate}}</a>{{'About.repository' | translate}}
  </p>
  <h3>{{'About.bug_reporting_title' | translate}}</h3>
  <p>{{'About.bug_reporting_intro' | translate}}<a
    href="https://github.com/josef-kriz/DicksAndBalls/issues">{{'About.github_issues_link_title' | translate}}</a>{{'About.bug_reporting_outro' | translate}}
  </p>
  <h3>{{'About.attributions_title' | translate}}</h3>
  <ul>
    <li>{{'About.card_vectors' | translate}}<a href="https://www.vecteezy.com/free-vector/playing-card-back">Vecteezy</a></li>
    <li>{{'About.background' | translate}}<a href="https://creativetacos.com/3-free-wood-textures/">Creative Tacos</a></li>
    <li>{{'About.table_background' | translate}}<a href="https://www.heropatterns.com/">Hero Patterns</a></li>
    <li>{{'About.table_icon' | translate}}<a href="https://www.flaticon.com/authors/cursor-creative" title="Cursor Creative">Cursor
      Creative</a>{{'About.table_icon_from' | translate}}<a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
  </ul>
</ion-content>
